:root {
    --brand-text: 'Permanent Marker', cursive;
    --brand-color: #009DCA;
}

* {
    box-sizing: border-box;
    margin: 0;
}

header,
footer {
    font-family: var(--brand-text);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: var(--brand-color);
}

header {
    font-size: 20px;
    background-color: var(--brand-color);
    text-shadow: 2px 2px 5px white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: fantasy;
}

main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--brand-color);
    text-shadow: 2px 2px 5px black;
    flex-grow: 1;
    flex-direction: column;
    background-image: url('../imgs/BeerBackground.jpg');
}

main>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: var(--brand-text);
    color: var(--brand-color);
    width: 300px;
    height: 175px;
    border-radius: 12px;
    margin: 10px;
    font-size: 25px;
}

.card:hover {
    box-shadow: 1px 1px 17px 1px var(--brand-color);
}

.outline {
    border: 1px solid var(--brand-color);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer {
    padding: 0;
}

footer {
    font-family: sans-serif;
}

footer p {
    margin: 10px 0px 10px 5px;
}

main div {
    margin: 10px 0px 10px 5px;
}

#modal {
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
}